.container{
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: rgba(255, 255, 255, 0.027);
    color: white; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
    backdrop-filter: blur(50px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);

}

/* color: #262626;  */


.container hr{
    height: 4px;
    border: none;
    background: white;
}

.container h2{
    font-size: 27px;
    font-weight: 500;
}

.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid white;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: #fcaf2b;
    color: #000;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.container .index{
    margin: auto;
    font-size: 18px;
}

.container .correct{
    background: #52c578;
    border-color: #01855f;
    color: black;
}

/*  background: #dffff2; */
/* border-color: #00d397; */

.container .wrong{
    background: #cb5858;
    border-color: #8f2a2a;
    color: black;
}

/* background: #ffebeb; */
/*  border-color: #ff4a4a; */