.container {
    width: 90%; 
    max-width: 640px; 
    margin: auto;
    margin-top: 100px; 
    background: rgba(255, 255, 255, 0.027);
    color: white; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 30px 40px; 
    backdrop-filter: blur(50px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
}

.container hr {
    height: 4px;
    border: none;
    background: white;
}

.container h2 {
    font-size: 24px; 
    font-weight: 500;
    text-align: center; 
}

.container ul {
    padding: 0;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 60px; 
    padding-left: 15px;
    border: 1px solid white;
    border-radius: 8px;
    margin-bottom: 15px; 
    font-size: 18px; 
    cursor: pointer;
}

.container button {
    margin: auto;
    width: 80%; 
    max-width: 250px;
    height: 55px;
    background: #fcaf2b;
    color: #000;
    font-size: 22px; 
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-size: 16px; 
    text-align: center;
}


.container .correct {
    background: #52c578;
    border-color: #01855f;
    color: black;
}

.container .wrong {
    background: #cb5858;
    border-color: #8f2a2a;
    color: black;
}


@media (max-width: 480px) {
    .container {
        margin-top: 50px; 
        padding: 20px; 
    }

    .container h2 {
        font-size: 22px;
    }

    .container ul li {
        height: 50px; 
        font-size: 16px;
        padding-left: 10px;
    }

    .container button {
        height: 50px;
        font-size: 20px;
    }

    .container .index {
        font-size: 14px;
    }
}
